<p>
    @Html.ActionLink("Add New", "Create")
    <span style="float:right">
        <a href="#FiltersPanel" data-toggle="collapse" title="Show Filter Panel">
            Filter
            <span class="glyphicon glyphicon-filter"></span>
        </a>
    </span>
</p>
