@if (User.IsInRole("Admin"))
{
    <button type="submit" id="DeleteSelectedItems" class="btn btn-outline-danger float-right mb-2">
        <span class ="glyphicon glyphicon-trash"></span>
    </button>
}
