@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Unknown Error Occurred!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        div {
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 100px;
        }

        img {
            width: 100%;
            max-width: 350px;
            height: auto;
        }
    </style>
</head>
<body>
    <div>
        <img src="~/Resource/StaticImage/UnknownError.svg" alt="Unknown Error Occurred" />
    </div>
</body>
</html>






